.botonIndexTD {
    width:180px;
}
.divBotonIndexTD {
    text-align: center;
}

.cTextoKeyCons {
    
    width: 100px;
    margin-top:-4rem;
    text-align:justify-all;
}

.imgIndex {
    width: 300px;
    height:250px;
}
.divImg{
    text-align:center;
}

.card-group{
    margin-top: 15px;
}

.bienvenida{
    text-align:center;
}
.subBienvenida{
    font-family:monospace;
    font-size: 4rem;
}
.sub2Bienvenida {
    font-family:'Niagara Engraved';
    font-size: 1.5rem;
    margin-top:-80px;
}
.navbar {
    font-family: monospace;
}

.card-body{
    font-family:monospace;  
}
.btnCrear{
    width:200px;
}

.divInfoRadicado{
    text-align:center;
    font-size:3rem;
    margin-top: 15rem;
}

.drupSelecionModo {
    margin-left: 72rem;
    width: 3.22rem;
    height:3.291rem;
    margin-bottom: -1.2rem;
    background-image: url(/Images/editar.png);
}

.infoFormato {
    margin-top: -10.2rem;
    margin-left: 68.8rem;
    width: 250px;
    height: 325px;
    background-color:floralwhite;
    border: solid 1px black;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.divDrucGMT {
    width: 530px;
    height: 400px;
    border: solid 1px black;
    margin-left: 30rem;
    margin-top: 2rem;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.dropConsec {
    width: 13rem;
    border: 2px solid #BBBBBB;
}

.containerDrupAgregados{
    margin-left:4rem;
}
.containerModosDisponibles {
    margin-left: 2rem;
}



